// Narrower container for Hello World sections (primarily Blank widget content).
@media (min-width: 800px) {
  .home-section .container {
    max-width: 1100px;
  }
}

@media (min-width: 992px){
  .home-section .container {
    max-width: 1200px;
  }
}

.article-container {
  max-width: 1050px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
  font-size: 20px;
}
